/* 푸터 영역 */

.footer {
  background-color: #282725;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: rgba(255, 252, 249, 0.6);
  font-size: 1.2rem;
  padding: 30px 0;
}
.about-us {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  width: 100%;
  order: -1;
  border-bottom: 1px solid rgba(255, 252, 249, 0.6);
  padding-bottom: 30px;
}
.about-us li {
  margin: 0 5px;
}
.about-us a {
  color: rgba(255, 252, 249, 0.6);
  padding: 1em;
}
.about-us a:visited {
  color: currentColor;
}
svg {
  width: 4rem;
  height: 4rem;
  margin: 30px;
}
.footer address {
  text-align: center;
  line-height: 1.5em;
}
address span {
  padding-left: 1em;
  padding-right: 1em;
}
.line{
  display: block;
}

.footer small {
  display: inline-block;
  margin-top: 30px;
}

@media all and (max-width: 1339px) {

}

@media all and (min-width: 1400px) {

}