html {
  font-size: 10px;
  font-weight: 400;
  color: #181818;
}

body,
body *,
body::before,
body::after,
body *::before,
body *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}