/* 루트 요소의 기본 글자크기 설정 */
html {
  font-size: 10px;
  overflow-y: visible;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #181818;
}

/* 기본 박스사이징 설정 */
body,
body *,
body::before,
body::after,
body *::before,
body *::after {
  box-sizing: border-box;
}

::-webkit-input-placeholder,  { /* Edge */
  font-size: 1.3rem;
  color: #7D6F5D;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 1.3rem;
  color: #7D6F5D;
}
.sign-up::placeholder, select {
  font-size: 1.3rem;
  color: #7D6F5D;
}



.button {
  border:none;
  cursor: pointer;
}