/* section.reserve */
.reserve {
  background: url(../static/img/index/reserve/Image\ 01.png) no-repeat 0 0;
  background-size: cover;
}
.reserve-container {
  width: 1400px;
  margin: 0 auto;
  color: #A37356;
  padding: 90px 120px 200px;
  background: url(../static/svg/Star\ Symbol\ \(1\).svg) no-repeat 0 50%;
}
.reserve__heading {
  font-size: 2rem;
  font-weight: 700;
}
.reserve__brief {
  font-size: 1.6rem
}
.reserve__brief [lang="en"] {
  font-size: 3rem;
  margin-bottom: 30px;
}
.reserve__brief span {
  display: block;
}
.reserve__more {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 25px;
  border: 1px solid currentColor;
}


/* section.w-card */
.w-card {
  width: 100%;
  background: url(../static/img/index/w-card/Photobg.png) no-repeat 0 0;
  background-size: cover;
  position: relative;
}
.w-card-container {
  width: 1400;
  margin: 0 auto;
  color: white;
  padding: 30px;
}
.w-card__brief {
  width: 35%;
}
.w-card__brief p {
  text-align: right;
  font-size: 15.5rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.w-card__brief p span{
  display: block;
}
.w-card__brief p span:first-child {
  font-size: 11.5rem;
  
}
.w-card__brief p span:last-child {
  font-size: 7rem;
}
.w-card__brief pre {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}
.brief__heading {
  font-size: 2rem;
}
.brief__brief {
  font-size: 1.2rem;
  line-height: 1.5;
}
.w-card__more {
  display: inline-block;
  font-size: 1.4rem;
  padding: 11px 25px;
  border: 1px solid currentColor;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25%;
}
.w-card__img {
  position: absolute;
  top: 20%;
  left: 40%;
  display: flex;
  flex-flow: row nowrap;
}
.w-card__img li {
  padding: 5px;
  background-color: white;
}
.w-card__img li:nth-child(1) {
  transform: rotate(-30deg) translateX(50px) translateY(50px);
}
.w-card__img li:nth-child(2) {
  transform: rotate(5deg) translateY(-50px);
}
.w-card__img li:nth-child(3) {
  transform: rotate(30deg) translateX(-50px) translateY(100px);
}


/* section.lab */
.lab {
  width: 1400px;
  height: 1100px;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
}
.lab__headline {
  font-size: 5rem;
  font-weight: 100;
}
.lab__headline span {
  font-weight: 700;
}
.lab__brief {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 100;
}
.lab__brief em {
  font-weight: 700;
}
.lab__brief::after {
  content: "";
  display: block;
  width: 100px;
  border-top: 1px solid currentColor;
  margin: 30px auto 0;
}
.lab__list {
  position: relative;
  margin-top: 30px;
}
.lab__list li {
  width: 650px;
  height: 650px;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.lab__list li:first-child {
  background: url(../static/img/index/lab/Photo\ \(1\).png) no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-80%);
  z-index: 5;
}
.lab__list li:last-child {
  background: url(../static/img/index/lab/Photo\ \(2\).png) no-repeat;
  position: absolute;
  top: 200px;
  right: 50%;
  transform: translateX(80%);
}
.lab__list a {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  padding: 30px;
  border-bottom: 10px solid currentColor;
  margin-bottom: 100px;
}

/* section.medal */
.medal {
  /* width: 1400px; */
  height: 500px;
  margin: 0 auto;
  background: url(../static/img/index/medal/Photo.png) 0 0 no-repeat;
  background-size: cover;
  position: relative;
}
.medal__back,
.medal__front {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.medal__back {
  width: 300px;
  height: 300px;
  background-color: #FFFCF9;
  border-radius: 50%;
  background-image: url(../static/img/index/medal/W.png);
  background-repeat: no-repeat;
  background-position: 50% 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #7D6F5D;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}
.medal__back:hover {
  opacity: 1;
}
.medal__heading {
  font-size: 2rem;
  font-weight: 700;
}
.medal__brief {
  margin-top: 30px;
  font-size: 1.6rem;
  padding: 0 30px;
  color: #7D6F5D;
}
.medal__more{
  margin-top: 20px;
  font-size: 1.6rem;
  color: #7D6F5D;
  display: block;
  padding: 10px 25px;
  border: 1px solid currentColor;
}

.medal__front {
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 1;
}
.medal__front:hover {
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -5;
}



/* section.store */
.store {
  background: radial-gradient(ellipse at center, rgba(40, 39, 37, .9) 0%,#282725 81%,#171615 100%);
  color: #FFFCF9;
  position: relative;
}
.store-container {
  width: 1400px;
  margin: 0 auto;
  padding: 80px 0 90px 55%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background: url(../static/svg/Coffee\ Store.svg) no-repeat 70% 100%;
}
.store__heading {
  order: 2;
  margin-top: 30px;
}
.store__heading a {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #FFFCF9;
  font-weight: 700;
}
.store__brief {
  font-size: 1.4rem;
  font-weight: 700;
}
.store__brief span {
  display: block;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 20px;
}
.store__list {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5;
}
.store__list span {
  font-weight: 700;
}
.store__img img:first-child {
  position: absolute;
  width: 360px;
  top: -60px;
  left: 15%;
}
.store__img img:last-child {
  position: absolute;
  top: 100px;
  left: 30%;
  width: 220px;
}